textarea{
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  border-style: inset;
  border-color: #74A57F;
  border-width: 10px}

#txtarea{
  display: flex;
  justify-content: center;
}
html{background-color: #000000;
}

.title{
  text-align: center;
  text-shadow: 1px 0.5px gray;
  font-size: 30px ;
  color: #9ECE9A;
  font-family: 'Permanent Marker', cursive;;

}

.buttons{
  height:100px;

  display: flex;
  flex-direction:row ;
  justify-content: space-around;
  margin:10px ;
}

button{
  font-size: 15px;
  height: 25px;
  font-family: 'Courgette', cursive;
  width: 200px;
  margin:5vh;
  border:1px solid white;
  border-radius: 5px;
  background-color: deepskyblue;
}




